html, .TraineeList {
  background-color: #E1E8EF;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#Panel-avg, #Panel-day {
  width: 45%;
}

#Panel-avg {
  margin-left: 5%;
}

.Panel-Summary, .Panel-Cal, .Panel-Gait {
  background-color: white;
  padding: 2em;
  box-shadow: 0px 0px 2px 0px rgba(204,204,204,1);
}

.Panel-FootLoad {
  padding: 2em;
  background-color: #F5F5F6;
  box-shadow: 0px 0px 2px 0px rgba(204,204,204,1);
}

.Panel-Summary {
  border-radius: 25px 0px 0px 0px;
}

.Panel-Cal {
  border-radius: 0px 25px 0px 0px;
}

.Panel-Gait {
  border-radius: 0px 0px 25px 25px;
}

.Header-arrow {
	max-height: 15px;
}

.Header-trainee {
	margin-left: 35% !important;
	font-size: 125%;
	font-weight: bold;
}

.Header-title {
	margin-left: 44% !important;
	font-size: 125%;
	font-weight: bold;
}

.TrainingSession-arrow {
	max-height: 20px;
	padding-left: 10%;
}


#TraineeList-Notes {
  margin-top: 5%;
  border-radius: 25px 25px 0px 0px;
  height: 10%;
}

.Trainee, #TraineeList-Notes {
  background-color: white; 
  padding: 2em;
  margin-right: 5%;
  margin-left: 5%;
  border: 1px solid #E1E8EF;
  box-shadow: 0px 0px 2px 0px rgba(204,204,204,1);
}


.TrainingSession-members {
	padding-left: 40%;
}

.TrainingSession-edit {
	max-height: 20px;
	padding-left: 40%;
}

.TrainingSession-dist {
	font-size: 125%;
	font-weight: bold;
}

.TraineeData-headings {
	font-weight: bold;
}

.TraineeData-avg{
	font-size: 125%;
	font-weight: bold;
}

.TraineeData-tab-avg {
  margin-left: 25%;
  padding: 5%;
  background-color: #484E86;
  color: white;
  size: 4em;
  text-align: center;
  border-radius: 25px 25px 0px 0px;
  box-shadow: 0px 0px 2px 0px rgba(204,204,204,1);
}

.TraineeData-tab-day {
  margin-right: 25%;
  padding: 5%;
  background-color: #484E86;
  color: white;
  size: 4em;
  text-align: center;
  border-radius: 25px 25px 0px 0px;
  box-shadow: 0px 0px 2px 0px rgba(204,204,204,1);
}


.Trainee-name {
	font-size: 125%;
	font-weight: bold;
  color: #021449;
  text-align: center;
  padding-bottom: 5%;
}

#TraineeList-wbkey {
  margin-left: 18%;
}

.Trainee-load {
	font-size: 120%;
	font-weight: bold;
	padding-left: 2%;
}

.Trainee-arrow {
	max-height: 20px;
	padding-left: 10%;
}

.Trainee-info {
	padding-left: 50%;
}

.navbar-default {
	background-color: #021449 !important; 
  padding-bottom: 1em;
  padding-top: 1em;
}

.navbar-default .navbar-nav > li > a {
	color: white !important;
}

.panel-group {
	margin-left: 10%;
	margin-right: 10%; 
}

/* BELOW FOR CAL VIZ */

  .background {
    fill: #eee;
  }

  line {
    stroke: #fff;
  }

  text.active {
    fill: red;
  }

  .day {
    fill: #fff;
    stroke: #E1E8EF;
  }

  .month {
    fill: none;
    stroke: #fff;
    stroke-width: 4px;
  }

  #cal-wellbeing {
    margin-left: 10%;
  }


  /* color ranges */

  .RdYlGn .q0-11{fill:#703C2D}
  .RdYlGn .q1-11{fill:#B84A29}
  .RdYlGn .q2-11{fill:#E66731}
  .RdYlGn .q3-11{fill:#F3B355}
  .RdYlGn .q4-11{fill:#F6CA67}
  .RdYlGn .q5-11{fill:#FDED82}
  .RdYlGn .q6-11{fill:#F5F860}
  .RdYlGn .q7-11{fill:#C8F355}
  .RdYlGn .q8-11{fill:#7FE631}
  .RdYlGn .q9-11{fill:#48B829}
  .RdYlGn .q10-11{fill:#2D7037}

  /* change fill of dark colors */
  .RdYlGn .q0-11-text {
    fill: white;
  }
  .RdYlGn .q1-11-text {
    fill: white;
  }
  .RdYlGn .q10-11-text {
    fill: white;
  }

.wbkeytext-0, .wbkeytext-10 {
  fill: white;
}

.wbkeytext-0, .wbkeytext-10, .wbkeytext-5 {
  font-size: 1em;
}


  /* hover info */
  #tooltip {
    background-color: #fff;
    border: 2px solid #ccc;
    padding: 10px;
  }

/* BELOW FOR FOOT VIZ */
/* color ranges */
.GrayScale .q0-8{fill:#FFFDE0}
.GrayScale .q1-8{fill:#E7F6CD}
.GrayScale .q2-8{fill:#CFECBA}
.GrayScale .q3-8{fill:#9ACAA5}
.GrayScale .q4-8{fill:#549D8F}
.GrayScale .q5-8{fill:#2A7081}
.GrayScale .q6-8{fill:#263E81}
.GrayScale .q7-8{fill:#0A2180}



#footlegend-day, #footlegend-avg {
	padding-left: 12%;
}

#foot-day, #foot-avg {
	padding-left: 16%;
}

/* all axes */
.axis text {
    font: 1.25em sans-serif;
}

.axis line, .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* BELOW FOR LINE GRAPH VIZ */
.line {
	fill: none;
	stroke: black;
	stroke-width: 2px;
}

/* BELOW FOR BAR CHART VIZ */
/* hover info */
#tooltip-bar {
  background-color: #fff;
  border: 2px solid #ccc;
  padding: 10px;
}

.bar-len {
  fill: #484E86;
}

.bar-time {
  fill: #112D5C;
}

#gait-length-avg-viz, #gait-length-day-viz, #gait-time-avg-viz, #gait-time-day-viz {
  padding-left: 15%;
}


/* SIDEBAR */

.sideBarMenuContainer {
    position: fixed;
    border: 1px solid #021449;
}

.sidebar-sq {
  height: 50px;
  width: 50px;
}

		
